<h1><span style = "color: blue; font-weight:bold" > Scrapping Covid Data from Ministry of Health</span></h1>

This notebook is to collect the covid situation which is happenning in Vietnam

<h2> 1. Import library</h2>

In [34]:
import pandas as pd
import numpy as np
import requests
import requests
from bs4 import BeautifulSoup
import lxml.html
import datetime
import time
import pandas as pd
import re
from tqdm import tqdm
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
import matplotlib.pyplot as plt
import seaborn as sns

<h2> 2. Scrapped Data </h2>

In [71]:
url = "https://ncov.moh.gov.vn/vi/web/guest/trang-chu?p_p_id=corona_trangchu_top_CoronaTrangchuTopPortlet_INSTANCE_RrVAbIFIPL7v&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_corona_trangchu_top_CoronaTrangchuTopPortlet_INSTANCE_RrVAbIFIPL7v_delta=100&_corona_trangchu_top_CoronaTrangchuTopPortlet_INSTANCE_RrVAbIFIPL7v_resetCur=false&_corona_trangchu_top_CoronaTrangchuTopPortlet_INSTANCE_RrVAbIFIPL7v_cur={}"

In [209]:
def get_soup_data(link, m):
    final_soup = []
    for i in tqdm(range (0,m)):
        page = requests.get(link.format(i), verify = False)
        soup = BeautifulSoup(page.text, 'html.parser')
        soup = soup.find_all('div', attrs= {"class": "inner"}) 
        final_soup.append(soup)
    return final_soup

In [210]:
soup = get_soup_data(url,100)

  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:02<03:28,  2.11s/it]
  2%|▏         | 2/100 [00:03<03:19,  2.03s/it]
  3%|▎         | 3/100 [00:05<03:00,  1.87s/it]
  4%|▍         | 4/100 [00:06<02:44,  1.71s/it]
  5%|▌         | 5/100 [00:08<02:40,  1.69s/it]
  6%|▌         | 6/100 [00:09<02:34,  1.65s/it]
  7%|▋         | 7/100 [00:11<02:37,  1.69s/it]
  8%|▊         | 8/100 [00:13<02:41,  1.75s/it]
  9%|▉         | 9/100 [00:16<02:59,  1.97s/it]
 10%|█         | 10/100 [00:18<02:59,  1.99s/it]
 11%|█         | 11/100 [00:20<03:11,  2.16s/it]
 12%|█▏        | 12/100 [00:24<03:56,  2.69s/it]
 13%|█▎        | 13/100 [00:27<03:56,  2.72s/it]
 14%|█▍        | 14/100 [00:29<03:42,  2.59s/it]
 15%|█▌        | 15/100 [00:31<03:17,  2.32s/it]
 16%|█▌        | 16/100 [00:33<02:59,  2.14s/it]
 17%|█▋        | 17/100 [00:35<03:07,  2.25s/it]
 18%|█▊        | 18/100 [00:37<02:53,  2.12s/it]
 19%|█▉        | 19/100 [00:39<02:43,  2.02s/it]
 20%|██        | 20/100 [00:41<02:35,  1.95s/it]
 21%|██        | 21/100 [00:43<02:46,  2.11s/it]
 22%|██▏       | 22/100 [00:45<02:49,  2.17s/it]
 23%|██▎       | 23/100 [00:48<02:51,  2.23s/it]
 24%|██▍       | 24/100 [01:15<12:18,  9.71s/it]
 25%|██▌       | 25/100 [01:18<09:38,  7.72s/it]
 26%|██▌       | 26/100 [01:21<07:36,  6.17s/it]
 27%|██▋       | 27/100 [01:23<06:00,  4.94s/it]
 28%|██▊       | 28/100 [01:25<04:57,  4.13s/it]
 29%|██▉       | 29/100 [01:27<04:10,  3.53s/it]
 30%|███       | 30/100 [01:29<03:45,  3.22s/it]
 31%|███       | 31/100 [01:32<03:19,  2.90s/it]
 32%|███▏      | 32/100 [01:33<02:52,  2.54s/it]
 33%|███▎      | 33/100 [01:35<02:41,  2.42s/it]
 34%|███▍      | 34/100 [01:37<02:28,  2.25s/it]
 35%|███▌      | 35/100 [01:40<02:26,  2.26s/it]
 36%|███▌      | 36/100 [01:41<02:14,  2.10s/it]
 37%|███▋      | 37/100 [01:43<02:11,  2.08s/it]
 38%|███▊      | 38/100 [01:45<02:01,  1.97s/it]
 39%|███▉      | 39/100 [01:47<02:05,  2.06s/it]
 40%|████      | 40/100 [01:49<02:03,  2.05s/it]
 41%|████      | 41/100 [01:52<02:04,  2.10s/it]
 42%|████▏     | 42/100 [01:53<01:58,  2.04s/it]
 43%|████▎     | 43/100 [01:55<01:55,  2.02s/it]
 44%|████▍     | 44/100 [01:58<01:53,  2.03s/it]
 45%|████▌     | 45/100 [02:01<02:13,  2.43s/it]
 46%|████▌     | 46/100 [02:03<02:11,  2.44s/it]
 47%|████▋     | 47/100 [02:06<02:19,  2.63s/it]
 48%|████▊     | 48/100 [02:10<02:38,  3.04s/it]
 49%|████▉     | 49/100 [02:14<02:38,  3.11s/it]
 50%|█████     | 50/100 [02:16<02:25,  2.90s/it]
 51%|█████     | 51/100 [02:18<02:13,  2.73s/it]
 52%|█████▏    | 52/100 [02:21<02:02,  2.56s/it]
 53%|█████▎    | 53/100 [02:23<01:59,  2.54s/it]
 54%|█████▍    | 54/100 [02:25<01:51,  2.43s/it]
 55%|█████▌    | 55/100 [02:27<01:46,  2.37s/it]
 56%|█████▌    | 56/100 [02:30<01:43,  2.36s/it]
 57%|█████▋    | 57/100 [02:32<01:38,  2.28s/it]
 58%|█████▊    | 58/100 [02:34<01:36,  2.29s/it]
 59%|█████▉    | 59/100 [02:43<02:47,  4.10s/it]
 60%|██████    | 60/100 [02:45<02:18,  3.47s/it]
 61%|██████    | 61/100 [02:46<01:57,  3.01s/it]
 62%|██████▏   | 62/100 [02:48<01:41,  2.68s/it]
 63%|██████▎   | 63/100 [02:51<01:33,  2.51s/it]
 64%|██████▍   | 64/100 [02:52<01:24,  2.35s/it]
 65%|██████▌   | 65/100 [02:54<01:17,  2.21s/it]
 66%|██████▌   | 66/100 [02:56<01:12,  2.12s/it]
 67%|██████▋   | 67/100 [02:59<01:11,  2.15s/it]
 68%|██████▊   | 68/100 [03:01<01:08,  2.15s/it]
 69%|██████▉   | 69/100 [03:03<01:06,  2.14s/it]
 70%|███████   | 70/100 [03:06<01:10,  2.34s/it]
 71%|███████   | 71/100 [03:08<01:10,  2.45s/it]
 72%|███████▏  | 72/100 [03:10<01:06,  2.37s/it]
 73%|███████▎  | 73/100 [03:13<01:01,  2.28s/it]
 74%|███████▍  | 74/100 [03:15<01:00,  2.32s/it]
 75%|███████▌  | 75/100 [03:17<00:55,  2.24s/it]
 76%|███████▌  | 76/100 [03:19<00:52,  2.18s/it]
 77%|███████▋  | 77/100 [03:21<00:47,  2.07s/it]
 78%|███████▊  | 78/100 [03:23<00:48,  2.22s/it]
 79%|███████▉  | 79/100 [03:26<00:47,  2.24s/it]
 80%|████████  | 80/100 [03:29<00:49,  2.49s/it]
 81%|████████  | 81/100 [03:31<00:45,  2.42s/it]
 82%|████████▏ | 82/100 [03:33<00:41,  2.33s/it]
 83%|████████▎ | 83/100 [03:35<00:37,  2.21s/it]
 84%|████████▍ | 84/100 [03:37<00:34,  2.16s/it]
 85%|████████▌ | 85/100 [03:39<00:32,  2.15s/it]
 86%|████████▌ | 86/100 [03:42<00:30,  2.20s/it]
 87%|████████▋ | 87/100 [03:45<00:31,  2.44s/it]
 88%|████████▊ | 88/100 [03:47<00:29,  2.46s/it]
 89%|████████▉ | 89/100 [03:50<00:28,  2.56s/it]
 90%|█████████ | 90/100 [03:52<00:24,  2.41s/it]
 91%|█████████ | 91/100 [03:54<00:19,  2.22s/it]
 92%|█████████▏| 92/100 [03:55<00:16,  2.09s/it]
 93%|█████████▎| 93/100 [03:57<00:13,  1.98s/it]
 94%|█████████▍| 94/100 [03:59<00:11,  1.89s/it]
 95%|█████████▌| 95/100 [04:01<00:09,  1.89s/it]
 96%|█████████▌| 96/100 [04:03<00:07,  1.89s/it]
 97%|█████████▋| 97/100 [04:05<00:06,  2.04s/it]
 98%|█████████▊| 98/100 [04:07<00:03,  1.98s/it]
 99%|█████████▉| 99/100 [04:09<00:01,  1.97s/it]
100%|██████████| 100/100 [04:11<00:00,  1.91s/it]

<h2> 3. Extract & Clean data </h2>

In [237]:
def clean_tag(text):
    patient_n_age = [m.find_all('a',attrs = {"class":"text-uppercase"}) for i in soup for m in i]
    patient_n_age = [i.get_text() for m in patient_n_age for i in m ]
    loc_sta_nat  = [m.find_all('p') for i in soup for m in i]
    loc_sta_nat = [i.get_text() for m in loc_sta_nat for i in m ]
    return patient_n_age, loc_sta_nat

In [238]:
patient_n_age, loc_sta_nat = clean_tag(soup)

In [239]:
patient_number = [ i.split("-")[0].replace("\t","") for i in patient_n_age ]
age = [ i.split("-")[1].replace("tuổi","") for i in patient_n_age ]
province = [ i.split("\n")[1].replace(" I","") for i in loc_sta_nat]
status = [ i.split("\n")[2].replace("I","") for i in loc_sta_nat]
nationality = [ i.split("\n")[3].replace("\r","") for i in loc_sta_nat]

In [240]:
data =pd.DataFrame(list(zip(patient_number,age,province,status,nationality)), 
                  columns = ['patient_number','age','province','status','nationality'])

In [241]:

data.tail()

     patient_number   age    province status     nationality
9995          BN22    60   Quảng Ninh   Khỏi  Vương quốc Anh
9996          BN21    61       Hà Nội   Khỏi        Việt Nam
9997          BN20    28       Hà Nội   Khỏi        Việt Nam
9998          BN19    64       Hà Nội   Khỏi        Việt Nam
9999          BN18    27    Ninh Bình   Khỏi        Việt Nam

In [242]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
patient_number    10000 non-null object
age               10000 non-null object
province          10000 non-null object
status            10000 non-null object
nationality       10000 non-null object
dtypes: object(5)
memory usage: 390.8+ KB

In [243]:
data['status']

0       Đang điều trị
1       Đang điều trị
2       Đang điều trị
3       Đang điều trị
4       Đang điều trị
            ...
9995             Khỏi
9996             Khỏi
9997             Khỏi
9998             Khỏi
9999             Khỏi
Name: status, Length: 10000, dtype: object

<h2> 4. Translate to English </h2>

In [244]:
import google_trans_new
from google_trans_new import google_translator

Demo translate

In [245]:
translator = google_translator()  
print(translator.translate('Đang điều trị',lang_tgt='en'))

Being treated

Loop to translate all rows in Vietnamese to English

In [246]:
translator = google_translator()
translations = {}
for column in data.columns[2:5]:
    # Unique elements of the column
    unique_elements = data[column].unique()
    for element in unique_elements:
        # Adding all the translations to a dictionary (translations)
        translations[element] = translator.translate(element,lang_tgt='en')

In [247]:
import itertools
dict(itertools.islice(translations.items(), 3))

{'Hồ Chí Minh': 'Ho Chi Minh ',
 'Bắc Giang': 'Bac Giang ',
 'Bắc Ninh': 'Bac Ninh '}

In [248]:
adj_dic = {'Thái Bình': 'Thai Binh','Hà Nam': 'Ha Nam ','Hoà Bình': 'Hoa Binh ',
           'Gia Lai': 'Gia Lai','Bình Định': 'Binh Dinh','Khỏi': 'Recovered',
           'Áo': 'Austria','Đức': 'Germany', 'U-dơ-bê-ki-xtan': 'Uzbekistan',
           'Ba Lan': 'Poland','Nga': 'Russia','Bra-xin': 'Brazil','Li-bi': 'Libya',
           'Nê-pan': 'Nepal ','Hung-ga-ri': 'Hungary ','Pháp': 'France ','Mi-an-ma': 'Myanmar',
          'Lát-vi-a': 'Latvia', 'Moldova': 'Moldova', 'And Islands ':'Vietnam'}

In [249]:
for i in translations.keys():
    if i in adj_dic.keys():
        translations[i] = adj_dic[i]

In [250]:
data.replace(translations, inplace = True)

In [251]:
data.head()

  patient_number   age      province          status nationality
0        BN9917    40   Ho Chi Minh   Being treated     Vietnam
1        BN9916    28   Ho Chi Minh   Being treated     Vietnam
2        BN9915    46   Ho Chi Minh   Being treated     Vietnam
3        BN9914    45   Ho Chi Minh   Being treated     Vietnam
4        BN9913    55   Ho Chi Minh   Being treated     Vietnam

<h2> 5. Basic EDA </h2>

This is to explore answers for these questions:
1. Number of cases by province and country
2. Number of cases by status

<b>1. Number of cases by province and country</b>

In [252]:
data.groupby('province').patient_number.count().sort_values(ascending = False)

province
Bac Giang           3873
Bac Ninh            1275
Ho Chi Minh          925
Hai Duong            812
Hanoi                728
Danang               654
Khanh Hoa            143
BA Ria Vung Tau      138
Quang Nam            126
Vinh Phuc            100
Lang Son              97
Quang Ninh            90
hung Yen              75
Thai Binh             63
Kien Giang            63
Tay Ninh              62
Dien Bien             59
Ha Nam                55
Bac Lieu              53
Binh Duong            53
Ha Tinh               43
Ninh Binh             40
Can Tho               34
Hoa Binh              33
Dong Nai              31
Dong Thap             29
Phu Yen               28
Gia Lai               28
Thanh Hoa             27
Long An               26
Nam Dinh              25
Ben tre               20
An Giang              20
Soc Trang             19
Vinh Long             15
Tien Giang            14
Quang Tri             13
Ninh Thuan            12
Hai Phong             12
Binh Thuan            11
Tra Vinh              10
Thai Nguyen            8
Quang Ngai             8
Ca Mau                 8
Dak Lak                7
Phu-Tho                7
Hue                    6
Yen Bai                5
Nghe An                5
Ha Giang               4
Lao Cai                2
                       2
Binh Dinh              1
Tuyen Quang            1
Son La                 1
Lai Chau               1
Name: patient_number, dtype: int64

In [253]:
data.groupby('nationality').patient_number.count().sort_values(ascending = False)

nationality
Vietnam                         9767
India                             60
Russia                            27
UK                                22
China                             12
USA                               11
Philippines                       11
South Africa                       8
Brazil                             7
France                             7
Germany                            6
Japan                              6
Taiwan                             5
Austria                            4
Korea                              4
Costa Rica Republic                3
Belarus                            3
Turkey                             3
Ukraine                            2
Pakistan                           2
And Islands                        2
Myanmar                            2
Israel                             2
Egypt                              1
Denmark                            1
Czech Republic                     1
Serbia and Montenegro              1
Canada                             1
Australia                          1
Algeria                            1
Federal Republic of Nigeria        1
Hungary                            1
Switzerland                        1
Hong Kong                          1
Poland                             1
Iceland                            1
Sri Lanka                          1
Indonesia                          1
Iran                               1
Uzbekistan                         1
Latvia                             1
Libya                              1
Malaysia                           1
Moldova                            1
Nepal                              1
Singapore                          1
                                   1
Name: patient_number, dtype: int64

<b> 2. Number of cases by status </b>

In [254]:
data.groupby('status').patient_number.count()

status
Being treated     6250
Dead                55
Other                4
Recovered         3691
Name: patient_number, dtype: int64

In [255]:
data[data.status == 'Other ']

     patient_number   age province  status nationality
7788        BN2229    54    Hanoi   Other       Japan
9253         BN764    67   Danang   Other     Vietnam
9564         BN453    56   Danang   Other     Vietnam
9599         BN418    61   Danang   Other     Vietnam

Status "Other" are used to refer to 4 patients that die because of other reason not covid
+ Patient 418: died because of chronic kidney disease ( 4 times negative test covid)
+ Patient 453: died because of chronic kidney disease, pneumonia, heart failure, stroke ( 3 times negative test covid)
+ Patient 764: died because of chronic kidney disease,hypertension, stroke ( 3 times negative test covid)
+ Patient 2229: died unknown reason ( 2 times negative test covid)

<b> 3. Total cases </b>

In [257]:
data

     patient_number   age      province          status nationality
0           BN9917    40   Ho Chi Minh   Being treated     Vietnam
1           BN9916    28   Ho Chi Minh   Being treated     Vietnam
2           BN9915    46   Ho Chi Minh   Being treated     Vietnam
3           BN9914    45   Ho Chi Minh   Being treated     Vietnam
4           BN9913    55   Ho Chi Minh   Being treated     Vietnam
...             ...   ...           ...             ...         ...
9995          BN22    60    Quang Ninh        Recovered         UK
9996          BN21    61         Hanoi        Recovered    Vietnam
9997          BN20    28         Hanoi        Recovered    Vietnam
9998          BN19    64         Hanoi        Recovered    Vietnam
9999          BN18    27     Ninh Binh        Recovered    Vietnam

[10000 rows x 5 columns]